body{
		background:url("pic1.jpg") no-repeat;
		background-size:cover;
		text-align:center;
	}
	a{
		text-decoration:none;
		color:#00ff22;
	}
	a:linked,a:visited{
		color:#999;
	}
	a:hover{
		color:#e7393c;
	}
	#whole{
		background:white;
		width:980px;
		margin:0 auto;
	}